
/dev
/reports
/application_generated_data_files
.ipynb_checkpoints/

*pkl
/to-do
/NEST
/.ipynb_checkpoints/
/SpiNNaker/application_generated_data_files/
/SpiNNaker/reports/
/SpiNNaker/.ipynb_checkpoints/
